<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gene Volcano Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Volcano Plot</h1>
    <div id="volcano-plot"></div>
    <div id="boxplot"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var plotData = JSON.parse('{{ plot_json | safe }}')
            Plotly.newPlot('volcano-plot', plotData)

            document.getElementById('volcano-plot').on('plotly_click', function (data) {
                var geneID = data.points[0].customdata;
                fetch(`/boxplot/${geneID}`).then(response => response.json()).then(boxplotData => Plotly.newPlot('boxplot', boxplotData)).catch(error => console.error('Error fetching boxplot data:', error))
            });
        });
    </script>
</body>
</html>